{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <title> Login</title>
</head>

<body style="background-color: #eee">
  <section class="h-100 gradient-form">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <img src="{% static 'img/logo1.png' %}" style="width: 185px" alt="logo" class="mb-4" />
                    <h4 class="mt-1 mb-4 pb-1">
                      Ingeniería Asesoría y Diseño, S.A DE C.V
                    </h4>
                  </div>

                  <form method="POST">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}

                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong>{{message}}</strong>
                      <span type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></span>
                    </div>


                    {% endfor %}
                    {% endif %}
                    <p class="text-center">Inicio de sesión</p>

                    <div class="form-outline mb-4">
                      <input type="text" class="form-control " name="username" placeholder="E-mail address" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" class="form-control" name="password" placeholder="Password" />
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom" type="submit">
                        iniciar sesión
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-flex-wrap align-items-center gradient-custom">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mt-4 mb-4 text-center">Mision</h4>
                  <p class="small mb-0 text-justify">
                    Diseñar, integrar, implementar, configurar y proveer de
                    soluciones de tecnologías de la información y
                    comunicaciones a empresas e instituciones de los sectores
                    público y privado, cubriendo todos sus requerimientos y
                    rebasando sus expectativas de calidad y servicio.
                  </p>
                </div>
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mt-4 mb-4 text-center">Vision</h4>
                  <p class="small mb-0 text-justify">
                    Ser líder en proveer soluciones integrales de TI, ser una
                    empresa en continua innovación, utilizando la tecnología
                    más avanzada. Brindar calidad de servicio a todos nuestros
                    clientes. Desarrollar y mantener las mejores condiciones
                    comerciales con nuestros socios comerciales.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>